
textarea{
    padding-top: 20px;
}
.alert {
    padding-top: 0;
}
input {
    padding-top: 5px;
    /* padding-right: 28px; */
    padding-left: 20px;
}
@media screen and (max-width: 1200px) {
    .content {
        width: 82%;
    }
    .contact-content{
        width: 82%;
    }
    .heading p {
        font-size: 28px;
        line-height: 49px;
}
.heading span {
    font-size: 35px;
}
label {
    font-size: 34px;
}
button {
    font-size: 36px;
}
}
@media screen and (max-width: 1024px) {
    .left-side .content {
        width:90%
    }
    .heading p {
        font-size: 28px;
        line-height: 45px;
    }
    .heading span {
        font-size: 26px;
    }
    .right-side .contact-content{
        width:90%;
    }
    .text{
        display: block;
        padding-top: 10px;
    }
    label {
        font-size: 26px;
    }
    button {
            font-size: 29px;
}
}  

@media screen and (max-width: 768px) {
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width:100%;
        margin: 0 auto
    }
    .heading h2 {
        font-size: 33px;
        padding-top: 15px;
        text-align: center;
       
    }
    .heading p {
        font-size: 26px;
        
    }
    .content {
        text-align: justify;
        display: flex;
        justify-content: center;
    }
    
    .contact-content h2 {
        font-size: 33px;
        padding-top: 16px;
    }
   .text {
    display: block;
   
   }

}

@media screen and (max-width: 425px) {
    .contact-container{
        width: 100%;

}
/* .left-side{
    width: 100%;
}
.right-side{
    width: 100%;
} */
input {
    width: 95%;
}
.text-area{
    height:150px
}
.content {
    text-align: center;

}
}
@media screen and (max-width: 375px) {
    .heading p {
        font-size: 25px;
}
.text-area{
    height:110px
}
.content {
    text-align: center;

}
}