<div class="catFactContainer mt-[30px]">
  <mat-card>
    <div class="title text-left text-[48px] font-bold mb-[25px]">
      <h3>Sunrise / Sunset Information</h3>
    </div>
    <div class="sunriseFormContainer">
      <form
        class="flex flex-col"
        [formGroup]="sunriseForm"
        (ngSubmit)="onSubmitSunriseHandler()"
      >
        <div class="outer-wrapper">
          <!-- <label class="text-[16px] font-normal text-[#000]">Lat:</label> -->
          <!-- <input
            type="number"
            class="w-[446px] h-[45px] rounded-[50px] bg-gray-200 mt-4 mb-4 focus:outline-none"
            formControlName="lat"
          /> -->
          <mat-form-field class="example-full-width">
            <mat-label>Enter Latitude:</mat-label>
            <input matInput formControlName="lat" />
            <div
              class="alert alert-danger pt-[0.8rem]"
              *ngIf="l['lat'].invalid && l['lat'].touched"
            >
              <div
                class="text-red-600"
                *ngIf="l['lat'].errors && l['lat'].errors['required']"
              >
                latitude is required
              </div>
            </div>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Enter Longititude:</mat-label>
            <input matInput formControlName="lng" />
            <div
              class="alert alert-danger pt-[0.8rem]"
              *ngIf="l['lng'].invalid && l['lng'].touched"
            >
              <div
                class="text-red-600"
                *ngIf="l['lng'].errors && l['lng'].errors['required']"
              >
                langititude is required
              </div>
            </div>
          </mat-form-field>

          <!-- <label class="text-[16px] font-normal text-[#000]">Lng:</label>
          <input
            type="number"
            class="w-[446px] h-[45px] rounded-[50px] bg-gray-200 mt-4 mb-4 focus:outline-none"
            formControlName="lng"
          /> -->
          <mat-form-field>
            <mat-label>Pick a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <div
              class="alert alert-danger pt-[0.8rem]"
              *ngIf="l['date'].invalid && l['date'].touched"
            >
              <div
                class="text-red-600"
                *ngIf="l['date'].errors && l['date'].errors['required']"
              >
                date is required
              </div>
            </div>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="actionButton">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="sunriseForm.invalid"
              class="h-[56px]"
            >
              Get Sunrise / Sunset Time
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="sunriseTimeDisplayContainer">
      <div class="times my-10 text-center" *ngIf="sunriseSunset">
        <h3 class="text-[48px]">Sunrise: {{ sunriseSunset.sunrise }}</h3>
        <h3 class="text-[48px]">Sunset: {{ sunriseSunset.sunset }}</h3>
      </div>
    </div>
  </mat-card>
</div>
