<nav
  class="navbar flex justify-between bg-[#3F51B5] pl-[20px] pr-[55px] py-[15px]"
>
  <div class="left-side w-2/5 flex items-center relative">
    <div class="hamburger-icon-div">
      <img
        (click)="togglehamburgermenu()"
        class="w-[18px] h-[14px] hamburgericon-img"
        src="assets/image/hamburger-icon.png"
      />
    </div>
    <div
      class="hamburger-menu bg-[#e6e1e1] w-[90vw] absolute top-[63px] p-[15px]"
      *ngIf="showhamburgermenu"
    >
      <ul class="text-center">
        <li class="py-3 text-[#475BE8]">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="py-3 text-[#475BE8]">
          <a routerLink="/contact">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav-center w-1/5 flex justify-center items-center">
    <div class="nav-menu">
      <a class="mr-[20px] text-[#ffffff]" routerLink="/dashboard">Dashboard</a>
      <a class="text-[#ffffff]" routerLink="/contact">Contacts</a>
    </div>
  </div>
  <div class="right-side w-2/5 flex justify-end items-center">
    <div class="nav-notifications-div relative">
      <div class="bell-icon-div">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon
            matBadge="2"
            matBadgeColor="warn"
            matBadgeSize="small"
            fontIcon="notifications"
            class="text-white"
          ></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>John invited you</button>
          <button mat-menu-item>You have message from Peter</button>
        </mat-menu>
      </div>
    </div>
    <div class="nav-profile">
      <button mat-button [matMenuTriggerFor]="profile">
        <div class="flex">
          <div class="profile-img-div">
            <img class="w-[40px] h-[40px]" src="assets/image/avatar.webp" />
          </div>
          <div class="profile-details-div pl-[10px] text-start flex flex-col">
            <span class="text-[14px] text-[#ffffff]">Hawkins Maru</span>
            <span class="text-[14px] text-[#ffffff]">Company Manager</span>
          </div>
        </div>
      </button>
      <mat-menu #profile="matMenu" xPosition="before">
        <button mat-menu-item (click)="logoutHandler()">Logout</button>
      </mat-menu>
    </div>
    <!-- <mat-menu #profile="matMenu">
      <button mat-menu-item (click)="logoutHandler()">Logout</button>
    </mat-menu> -->
  </div>
</nav>