.hamburger-icon-div {display: none;}

@media screen and (max-width: 767px) {

    nav { padding-right:20px; }

    .hamburger-icon-div {display: block;}

    .nav-menu { display:none; }

    .nav-notifications-div { margin-left:auto; }
}